 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://assets.nicepagecdn.com/86b2994a/3965907/images/3965918-1.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 999px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 87px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 250px;
  width: 570px;
  margin: 96px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 28px 98px 29px 96px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 77px auto 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 60px;
  padding: 28px 97px 29px 96px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-1 .u-btn-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    margin-top: -533px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 88px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -526px;
  }
}